.st0{fill:black;}
	.st1{fill:none;stroke:white;stroke-width:10;stroke-miterlimit:10;}
	.st2{fill:none;stroke:#F7931E;stroke-width:10;stroke-miterlimit:10;}
	.st3{fill:#F7931E;}
	.st4{fill:none;}
	.st5{font-family:'AgencyFB-Reg';}
	.st6{font-size:28.0593px;}
	.st7{font-family:'Algerian';}
	.st8{font-size:30.0643px;}
	.st9{fill:#FFFFFF;}
	.st10{fill:#F2F2F2;}
	.st11{font-family:'Times New Roman';}